<a href="https://colab.research.google.com/github/righ120/Fluent_Python/blob/master/2_3_%ED%8A%9C%ED%94%8C%EC%9D%80_%EB%8B%A8%EC%88%9C%ED%95%9C_%EB%B6%88%EB%B3%80_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EA%B0%80_%EC%95%84%EB%8B%88%EB%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH 2. 시퀀스

## 2.3 튜플은 단순한 불변 리스트가 아니다

### 2.3.1 레코드로서의 튜플

튜플의 각 항목은 레코드의 필드 하나를 의미하며 항목의 위치가 의미를 결정한다. </br>

튜플을 단지 불변 리스트로 생각한다면 경우에 따라 항목의 크기와 순서가 중요할 수도 있고 그렇지 않을 수도 있다. 그러나 튜플을 필드의 집합으로 사용하는 경우에는 항목 수가 고정되어 있고 항목의 순서가 중요하다. </br>

In [2]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'),('ESP', 'XDA205856')]
for passport in sorted(traveler_ids): # 첫번째 field를 기준으로 정렬 된다.
  print('%s/%s' % passport)
  
for country, _ in traveler_ids: # 관심 없는 항목에는 더미변수를 나타내는 언더바(_)에 할당한다.
  print(country)

BRA/CE342567
ESP/XDA205856
USA/31195855
USA
BRA
ESP

### 2.3.2 튜플 언패킹

튜플 언패킹을 통해 병렬 할당을 할 수 있다.

In [4]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates

print(latitude)
print(longitude)

33.9425
-118.408056

튜플 언패킹을 이용하면 임시 변수를 사용하지 않고도 두 변수의 값을 서로 교환할 수 있다.

In [5]:
a=2
b=3
print(a,b)

b,a = a, b
print(a,b)

2 3
3 2

함수를 호출할 때 인수 앞에 \*를 붙여 튜플을 언패킹 할 수 있다.

In [7]:
print(divmod(20, 8))

t = (20, 8)
print(divmod(*t))

quotient, remainder = divmod(*t)
print(quotient, remainder)

(2, 4)
(2, 4)
2 4

<code>os.path.split()</code>함수를 이용해서 파일시스템 경로에서 경로명과 파일명을 가져올 수 있다.

In [9]:
import os

path, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
print(path)
print(filename)

/home/luciano/.ssh
idrsa.pub

튜플 언패킹 시에 초과 항목을 잡기 위해 \*을 사용할 수 있다.

In [10]:
a, b, *rest = range(5)
print(a, b, rest)

a, b, *rest = range(3)
print(a, b, rest)

a, b, *rest = range(2)
print(a, b, rest)

0 1 [2, 3, 4]
0 1 [2]
0 1 []

In [12]:
a, *body, c, d = range(5)
print(a, body, c, d)

*head, b, c, d = range(5)
print(head, b, c, d)

0 [1, 2] 3 4
[0, 1] 2 3 4

### 2.3.3 내포된 튜플 언패킹

언패킹할 표현식을 받는 튜플은 다른 튜플을 내포할 수 있으며, 파이썬은 표현식이 내포된 구조체에 일치하면 제대로 처리한다.

In [13]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:^9.4f} | {:^9.4f}'

for name, cc, pop, (latitude, longitude) in metro_areas:
  if longitude <= 0:
    print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |  19.4333  | -99.1333
New York-Newark |  40.8086  | -74.0204
Sao Paulo       | -23.5478  | -46.6358

### 2.3.4 명명된 튜플

collections.namedtuple() 함수는 필드명과 클래스명을 추가한 튜플의 서브 클래스를 생성하는 팩토리 함수로서, 디버깅할 때 유용하다. 필드명이 클래스에 저장되므로 튜플과 동일한 크기의 메모리만 사용하며, 속성을 객체마다 존재하는 <code>\_\_dict__</code>에 저장하지 않으므로 일반적인 객체보다 메모리를 적게 사용한다.

In [17]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates') # 필드명의 리스트는 반복형 문자열이나 공백으로 구분된 하나의 문자열을 이용해서 지정한다.
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
print(tokyo)

print(tokyo.population)
print(tokyo.coordinates)
print(tokyo[1])

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))
36.933
(35.689722, 139.691667)
JP

namedtuple 은 튜플에서 상속받은 속성 외에 몇 가지 속성을 더 가지고 있다.

In [22]:
print(City._fields) # _fields는 클래스의 필드명을 담고 있는 튜플이다.

LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

# _make()는 반복형 객체로부터 명명된 튜플을 만든다. City(*delhi_data)를 호출하는 코드와 동일한 역할을 수행한다.
delhi = City._make(delhi_data)

# _asdict()는 명명된 튜플 객체에서 만들어진 collections.OrderedDict객체를 반환한다.
print(delhi._asdict())

for key, value in delhi._asdict().items():
  print(key + ':', value)

('name', 'country', 'population', 'coordinates')
OrderedDict([('name', 'Delhi NCR'), ('country', 'IN'), ('population', 21.935), ('coordinates', LatLong(lat=28.613889, long=77.208889))])
name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

### 2.3.5 불변 리스트로서의 튜플

튜플은 항목을 추가하거나 삭제하는 기능 및 <code>\_\_reversed__()</code>메서드를 제외하고 리스트가 제공하는 메서드를 모두 지원한다.